<div class="catsComponent">
  <form [formGroup]="form">

    <header>
      <header>
        <button
          mat-raised-button color="primary"
          *ngIf="page !== 0"
          (click)="navigatePage('previous')"> Попередня </button>
      </header>
      <main>
      <mat-chip-listbox aria-label="Fish selection" formControlName="selectedBreed">
        <mat-chip-option
          *ngFor="let breed of (breedsList | async)"
          [value]="breed.id"
          (click)="filterCats()"> {{ breed.name }} </mat-chip-option>
      </mat-chip-listbox>
      </main>
      <footer>
        <button
          mat-raised-button color="primary"
          *ngIf="page === 0 || page !== 0"
          (click)="navigatePage('next')"> Наступна </button>
      </footer>
    </header>

    <main>
      <main>
        <button mat-raised-button color="primary" *ngIf="getBreedFormField()?.value"> Reset breeds </button>
      </main>
      <mat-form-field>
        <mat-label>Set page count items</mat-label>
        <mat-select
          formControlName="imageItems"
          (selectionChange)="filterCats()">
          <mat-option
            *ngFor="let count of imageItemsPerPage"
            [value]="count"> {{ count }} items </mat-option>
        </mat-select>
      </mat-form-field>
    </main>

  </form>

  <main class="imagesList">
    <ng-container *ngIf="imagesList | async as images; else dataLoading">
      <div *ngFor="let image of images">
        <img [src]="image.url" alt="catImage">
      </div>
    </ng-container>
  </main>

  <ng-template #dataLoading>
    <div class="spinner">
      <h4>Loading</h4>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
