<div class="catsComponent">
  <form [formGroup]="form">

    <mat-chip-listbox aria-label="Fish selection" formControlName="selectedBreed">
      <mat-chip-option
        *ngFor="let breed of (breedsList | async)"
        [value]="breed.id"
        (click)="filterCats()"> {{ breed.name }} </mat-chip-option>
    </mat-chip-listbox>

    <mat-form-field>
      <mat-label>Set page count items</mat-label>
      <mat-select
        formControlName="imageItems"
        (selectionChange)="filterCats()">
        <mat-option
          *ngFor="let count of imageItemsPerPage"
          [value]="count"> {{ count }} items </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <main class="imagesList">
    <ng-container *ngIf="imagesList | async as images; else dataLoading">
      <div *ngFor="let image of images">
        <img [src]="image.url" alt="catImage">
      </div>
    </ng-container>
  </main>

  <ng-template #dataLoading>
    <div class="spinner">
      <h4>Loading</h4>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
